DB_HOST=localhost
DB_USER=postgres
DB_PASS=yourpassword
DB_NAME=owa_jemsi
DB_PORT=5432
AI_SERVICE_URL=http://localhost:5000

# WhatsApp API Configuration (Menggunakan lokal Baileys server)
WHATSAPP_BAILEYS_URL=http://localhost:3000
WHATSAPP_TARGET_NUMBER=081234567890
